@font-face{
    font-family: 'Fira Code';
    src: url('FiraCode/eot/FiraCode-Light.eot');
    src: url('FiraCode/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('FiraCode/woff2/FiraCode-Light.woff2') format('woff2'),
         url('FiraCode/woff/FiraCode-Light.woff') format('woff'),
         url('FiraCode/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('FiraCode/eot/FiraCode-Regular.eot');
    src: url('FiraCode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('FiraCode/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('FiraCode/woff/FiraCode-Regular.woff') format('woff'),
         url('FiraCode/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('FiraCode/eot/FiraCode-Medium.eot');
    src: url('FiraCode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
         url('FiraCode/woff2/FiraCode-Medium.woff2') format('woff2'),
         url('FiraCode/woff/FiraCode-Medium.woff') format('woff'),
         url('FiraCode/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('FiraCode/eot/FiraCode-Bold.eot');
    src: url('FiraCode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
         url('FiraCode/woff2/FiraCode-Bold.woff2') format('woff2'),
         url('FiraCode/woff/FiraCode-Bold.woff') format('woff'),
         url('FiraCode/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    /* I like the way https://plfa.github.io/ looks, so I basically stole this magical incantation. */
    font:           400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin:         0;
	padding:        0;
	border:         0;
	vertical-align: baseline;
}

.remark-inline-code, .remark-code {
    font-family: "Fira Code";
}

.remark-code {
    border-radius: 5px;
    border:        1px solid #dfdedc;
    white-space:   pre-wrap;       /* CSS 3 */
    white-space:   -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space:   -pre-wrap;      /* Opera 4-6 */
    white-space:   -o-pre-wrap;    /* Opera 7 */
    word-wrap:     break-word;       /* Internet Explorer 5.5+ */
}

.remark-slide-content, .remark-slide-container {
    background: #ecf0f4;
}

.remark-slide-scaler {
    box-shadow: none;
}

h1, h2, h3 {
    color: #2980b9;
}

h2, h3 {
    border-bottom: 1px solid #2980b9;
}

a {
    color:           #2980b9;
    text-decoration: none;
}

blockquote {
  background:                 #f9f9f9;
  border-left:                10px solid #dfdedc;
  margin:                     1.5em 10px;
  padding:                    0.5em 10px;
  quotes:                     "\201C""\201D""\2018""\2019";
  color:                      #5f5e5c;
  border-top-right-radius:    5px;
  border-bottom-right-radius: 5px;
}

blockquote p {
  display: inline;
}
